#img{
    width:75%;
    height:500px;
    margin:auto
}
.set{
    margin-left: 179px;
    margin-right: 250px;
    color:brown;
    text-align:justify
}
.blue{
    color:blue
}
.anima
{
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}
@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
.static{
    bottom:125px;
    right:50px;
    position:fixed
}