<form class="login w3-card">
    <h1 class="col-sm-offset-4 col-xs-12 logme ">log me....<span class="glyphicon glyphicon-hand-right"></span></h1>
    <br>
    <hr>
  <div class="row">
  <label for="email" class="col-sm-2 col-xs-12 col-sm-offset-2">Email id</label>
  <input type="text" id="email" class="col-sm-3 col-xs-8 col-xs-offset-1" [(ngModel)]="mail" #mailref="ngModel" name="mailid">
</div>
<br>
<div class="row">
  <label for="password" class="col-sm-2 col-xs-12 col-sm-offset-2">Password</label>
  <span><input type="{{type}}" id="password" class="col-sm-3 col-xs-8 col-xs-offset-1" [(ngModel)]="pwd" #pwdref="ngModel" name="pwdid"></span>
  <span id="show" (click)="show()">show</span>
</div>
<br>
<hr>
<div class="row"><button class="col-sm-offset-3 col-xs-5 col-sm-3 col-xs-offset-1 btn btn-primary" (click)="log(mail,pwd)">log in</button>
  <span class=" col-xs-5" id="register" (click)="register()">Register Now</span>
</div>
<br>
</form>
